# Ignora archivos
#.DS_store

# Ignora la carpeta
#web/facturacionphp/comprobantes/autorizados/*
#web/facturacionphp/comprobantes/no_firmados/*
#web/facturacionphp/comprobantes/pdf/*
#web/facturacionphp/comprobantes/si_firmados/*


# Ignora todos los archivos de texto
*.xml
*.pdf

# Ignora los archivos relacionados a API keys
#.env

# Ignora archivos de configuración SASS
#.sass-cache